@import 'public-styles.css';
.header__logsin {
  margin-bottom: 79px;
}

.page-header {
  margin-bottom: 76px;
}
.page-header__container {
  text-align: center;
}
.page-header__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 75px;
  line-height: 149%;
  color: #FFFFFF;
}
.page-header__underheader {
  font-family: Poppins;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 480px) {
  .page-header__header {
    font-size: 50px;
  }
  .page-header__underheader {
    font-size: 19px;
  }
}
.or {
  margin-bottom: 46px;
}
.or__container {
  text-align: center;
}
.or__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 54px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 1px;
}
.or__underheader {
  font-family: Poppins;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}

.companys {
  margin-bottom: 70px;
}
.companys__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.companys__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 25px 100px;
  border-radius: 15px;
  border: 2px solid white;
  -webkit-transition: 0.3s border ease-in-out, 0.3s -webkit-box-shadow 0.1s ease-in-out;
  transition: 0.3s border ease-in-out, 0.3s -webkit-box-shadow 0.1s ease-in-out;
  transition: 0.3s border ease-in-out, 0.3s box-shadow 0.1s ease-in-out;
  transition: 0.3s border ease-in-out, 0.3s box-shadow 0.1s ease-in-out, 0.3s -webkit-box-shadow 0.1s ease-in-out;
}
.companys__button:hover {
  border: 2px solid rgb(0, 26, 255);
  -webkit-box-shadow: 0 0 20px 10px rgba(1, 26, 255, 0.556), inset 0 0 20px 5px rgba(119, 133, 255, 0.556);
          box-shadow: 0 0 20px 10px rgba(1, 26, 255, 0.556), inset 0 0 20px 5px rgba(119, 133, 255, 0.556);
}
.companys__button:hover .companys__text {
  color: rgb(0, 17, 255);
  text-shadow: 5px 5px rgba(17, 0, 255, 0.453);
}
.companys__button:hover .companys__icon {
  -webkit-transform: scaleX(1.2) scaleY(1.2);
          transform: scaleX(1.2) scaleY(1.2);
}
.companys__icon {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.companys__text {
  font-family: Poppins;
  font-size: 21px;
  line-height: 152%;
  color: #FFFFFF;
  -webkit-transition: 0.3s color 0.1s ease-in-out, 0.3s text-shadow 0.1s ease-in-out;
  transition: 0.3s color 0.1s ease-in-out, 0.3s text-shadow 0.1s ease-in-out;
}

@media (max-width: 1550px) {
  .companys__button {
    padding: 25px 60px;
  }
}
@media (max-width: 590px) {
  .companys__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 20px 30px;
  }
}
@media (max-width: 420px) {
  .companys__container {
    padding: 0 2px;
  }
}
@media (max-width: 380px) {
  .companys__text {
    font-size: 16px;
  }
  .companys__icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
  }
}
.footer {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding-bottom: 74px;
  text-align: center;
}
.footer a {
  color: rgb(148, 224, 230);
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}
.footer a:hover {
  color: rgb(65, 122, 126);
}

.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 100%;
  max-width: 490px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.field__input {
  font-family: Poppins;
  font-size: 23px;
  line-height: 148%;
  color: white;
  background-color: transparent;
  width: 100%;
}
.field__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.field__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.field__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.field__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.field__input::placeholder {
  color: rgba(255, 255, 255, 0.38);
}
.field__icon {
  max-width: 50px;
  max-height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.field:has(.field__input:-moz-placeholder-shown) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
.field:has(.field__input:-ms-input-placeholder) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}
.field:has(.field__input:placeholder-shown) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

.submit {
  font-size: 26px;
  line-height: 150%;
  cursor: pointer;
  width: 100%;
  max-width: 490px;
}

.signup {
  margin-bottom: 67px;
}
.signup__container {
  max-width: 1158px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 144px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 76px 144px;
  justify-items: center;
  grid-auto-rows: 1fr;
}
.signup__container > * {
  width: 100%;
}

@media (max-width: 1170px) {
  .signup__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 420px) {
  .signup__container {
    padding: 10px;
  }
}
.login {
  margin-bottom: 67px;
}
.login__container {
  max-width: 1158px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 144px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 76px 144px;
  justify-items: center;
  grid-auto-rows: 1fr;
}

.submit__login {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

@media (max-width: 900px) {
  .login__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .submit__login {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
}