@import 'public-styles.css';
.header__blog {
  margin-bottom: 128px;
}

.page-header {
  margin-bottom: 130px;
}
.page-header__container {
  text-align: center;
}
.page-header__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 120px;
  line-height: 150%;
  color: #FFFFFF;
}
.page-header__underheader {
  font-family: Poppins;
  font-size: 30px;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 700px) {
  .page-header__header {
    font-size: 90px;
  }
  .page-header__underheader {
    font-size: 25px;
  }
}
@media (max-width: 490px) {
  .page-header__header {
    font-size: 65px;
  }
  .page-header__underheader {
    font-size: 18px;
  }
}
.sources {
  max-width: 1275px;
  padding: 0 10px;
  margin: 0 auto 188px auto;
  display: -ms-grid;
  display: grid;
  gap: 23px;
  -ms-grid-columns: 1fr 23px 1fr 23px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-perspective: 500px;
          perspective: 500px;
}

.source {
  padding: 13px 14px 17px 29px;
  border: 1px solid #707070;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.5);
          box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.5);
  -webkit-transition: 0.8s -webkit-box-shadow, 0.8s -webkit-transform;
  transition: 0.8s -webkit-box-shadow, 0.8s -webkit-transform;
  transition: 0.8s box-shadow, 0.8s transform;
  transition: 0.8s box-shadow, 0.8s transform, 0.8s -webkit-box-shadow, 0.8s -webkit-transform;
}
.source__coming {
  float: right;
  font-family: Poppins;
  font-size: 16px;
  line-height: 150%;
  color: #4A7DE3;
  padding: 9px 17px 6px 19px;
  background: #102142;
  border-radius: 10px;
}
.source__icon {
  max-width: 60px;
  max-height: 60px;
  margin-top: 23px;
  margin-bottom: 17px;
}
.source__company {
  margin-bottom: 11px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #FFFFFF;
}
.source__description {
  font-family: Poppins;
  font-size: 23px;
  line-height: 148%;
  color: #828282;
}
.source:hover {
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 255, 0.5);
          box-shadow: 0 0 20px 20px rgba(0, 0, 255, 0.5);
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

@media (max-width: 990px) {
  .sources {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .sources {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.peoples {
  margin-bottom: 188px;
}