@import 'public-styles.css';
body {
  counter-reset: steps;
}

.header {
  margin-bottom: 128px;
}

.page-header {
  padding-bottom: 136px;
}
.page-header__container {
  max-width: 1440px;
}
.page-header__h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 112px;
  line-height: 150%;
  color: white;
  text-align: center;
}
.page-header__pink-orange {
  color: #FFBF84;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) {
  .page-header__pink-orange {
    background: -webkit-gradient(linear, left top, right top, from(#FE6783), to(#FFBF84));
    background: linear-gradient(to right, #FE6783, #FFBF84);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 1210px) {
  .page-header__h1 {
    font-size: 90px;
  }
}
@media (max-width: 850px) {
  .page-header__h1 {
    font-size: 70px;
  }
}
@media (max-width: 520px) {
  .page-header__h1 {
    font-size: 50px;
  }
}
@media (max-width: 380px) {
  .page-header__h1 {
    font-size: 35px;
  }
}
.getAdemo__container {
  padding-bottom: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 750px;
}
.getAdemo__header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.getAdemo__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}
.getAdemo__buttons > * {
  padding: 25px 75px;
}
.getAdemo__number {
  font-size: 25px;
}
.getAdemo__number .number-started__point {
  border: 5.5px solid #032913;
}

@media (max-width: 500px) {
  .getAdemo__number {
    font-size: 18px;
  }

  .number-started__point {
    border: 3.8px solid #032913;
  }

  .getAdemo__header {
    font-size: 30px;
  }
}
@media (max-width: 390px) {
  .getAdemo__header {
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .getAdemo__buttons > * {
    padding: 18px 55px;
  }
}
@media (max-width: 600px) {
  .getAdemo__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .getAdemo__buttons > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 90%;
            flex: 1 1 90%;
  }
}
@media (max-width: 350px) {
  .getAdemo__buttons > * {
    padding: 18px 40px;
  }
}
.why {
  margin-bottom: 162px;
}
.why__container {
  max-width: 1600px;
}
.why__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 75px;
  line-height: 148%;
  color: white;
  text-align: center;
  margin-bottom: 64px;
}
.why__reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.why__reason {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.why-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.why-reason__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Poppins;
  font-size: 35px;
  line-height: 149%;
  color: white;
}
.why-reason__smile {
  font-weight: 600;
  margin-right: 10px;
  max-height: 1.5em;
}
.why-reason__header {
  font-weight: 600;
  text-align: center;
}
.why-reason__text {
  font-family: Poppins;
  font-size: 22px;
  line-height: 150%;
  color: #707070;
  text-align: center;
}

@media (max-width: 520px) {
  .why__header {
    font-size: 60px;
  }
}
@media (max-width: 420px) {
  .why__header {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .why-reason__header {
    font-size: 25px;
  }
  .why-reason__text {
    font-size: 17px;
  }
}
.step {
  padding-bottom: 176px;
}
.step__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.step__number {
  font-family: Poppins;
  font-weight: 600;
  font-size: 25px;
  line-height: 152%;
  color: #3D82F2;
  text-align: center;
}
.step__number::after {
  counter-increment: steps;
  content: " " counter(steps);
}
.step__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 75px;
  line-height: 149%;
  text-align: center;
  color: #FFFFFF;
}
.step__text {
  font-family: Poppins;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #707070;
}
.step__text:not(:last-child) {
  margin-bottom: 35px;
}
.step__button {
  padding: 24px 38px;
}

@media (max-width: 580px) {
  .step__number {
    font-size: 17px;
  }
  .step__header {
    font-size: 50px;
  }
  .step__text {
    font-size: 18px;
  }
  .step__button {
    padding: 12px 20px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .step__number {
    font-size: 15px;
  }
  .step__header {
    font-size: 40px;
  }
  .step__text {
    font-size: 15px;
  }
  .step__button {
    font-size: 15px;
  }
}
.step__container {
  max-width: 970px;
}

.imaged-content {
  counter-reset: imaged-content-list-item;
  padding-bottom: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.imaged-content__container {
  margin: 0;
  padding: 0 0 0 50px;
  max-width: unset;
  width: 100%;
  margin-left: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.imaged-content__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 39%;
          flex: 1 1 39%;
  margin-right: 228px;
}
.imaged-content__header-little {
  font-family: Poppins;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  color: white;
  margin-bottom: 80px;
}
.imaged-content__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 75px;
  line-height: 149%;
  color: white;
  margin-bottom: 27px;
}
.imaged-content__blue {
  color: #3C82F4;
}
.imaged-content__list {
  margin-bottom: 66px;
}
.imaged-content__list-item {
  font-family: Poppins;
  font-size: 23px;
  line-height: 148%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.imaged-content__list-item:not(:last-child) {
  margin-bottom: 10px;
}
.imaged-content__list-item::before {
  counter-increment: imaged-content-list-item;
  content: counter(imaged-content-list-item);
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin-right: 12px;
  background-color: #2D2D2D;
  text-align: center;
  border-radius: 50%;
  padding: 5px 15px 1px 14px;
  width: calc(1em + 20px);
  height: calc(1em + 20px);
  height: 100%;
}
.imaged-content__buttons {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 24px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.imaged-content__buttons > * {
  padding: 18px 21px;
}
.imaged-content__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 56%;
          flex: 1 1 56%;
}
.imaged-content__img {
  width: 100%;
}

@media (max-width: 1700px) {
  .imaged-content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    margin: 0;
    width: 100%;
  }
  .imaged-content__header {
    text-align: center;
  }
  .imaged-content__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 50px 0;
  }
  .imaged-content__right {
    width: 100%;
  }
}
@media (max-width: 620px) {
  .imaged-content__header {
    font-size: 55px;
  }
}
@media (max-width: 500px) {
  .imaged-content__buttons {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .imaged-content__list-item {
    font-size: 18px;
  }
}
.phone-block {
  padding-bottom: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.phone-block__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 27px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
  margin-bottom: 50px;
}
.phone-block__green-header {
  font-family: Poppins;
  font-size: 30px;
  line-height: 150%;
  color: #0FC65C;
}
.phone-block__gray-header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  color: #919191;
}
.phone-block__white-header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 80px;
  line-height: 150%;
  color: white;
}
.phone-block__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  background-color: #0D0D0D;
  padding: 33px 10px 10px 45px;
}
.phone-block__left > .phone-block__green-header:first-child {
  margin-bottom: 24px;
}
.phone-block__phone {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.phone-block__url {
  position: absolute;
  left: 100%;
  top: 71%;
  -webkit-transform: translateX(-185px);
          transform: translateX(-185px);
  font-family: Roboto;
  font-weight: 300;
  font-size: 35px;
  line-height: 131%;
  color: #84E575;
  z-index: 1;
}
.phone-block__right {
  background-color: #0D0D0D;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
  position: relative;
  z-index: 2;
  padding: 34px 0 0 30px;
}
.phone-block__right > .phone-block__green-header:first-child {
  margin-bottom: 96px;
}
.phone-block__getstarted {
  padding: 22px 85px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: white;
}

@media (max-width: 1500px) {
  .phone-block__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
  .phone-block__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .phone-block__container > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media (max-width: 970px) {
  .phone-block__phone {
    width: 100%;
  }
  .phone-block__img {
    width: 100%;
  }
}
@media (max-width: 760px) {
  .phone-block__url {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .phone-block__url {
    font-size: 24px;
  }
}
@media (max-width: 560px) {
  .phone-block__url {
    font-size: 22px;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }

  .phone-block__gray-header, .phone-block__white-header {
    font-size: 55px;
  }
}
@media (max-width: 500px) {
  .phone-block__url {
    font-size: 18px;
    -webkit-transform: translateX(-110px);
            transform: translateX(-110px);
  }

  .phone-block__getstarted {
    width: 93%;
    padding: 15px 20px;
  }
}
@media (max-width: 450px) {
  .phone-block__url {
    font-size: 15px;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
  }

  .phone-block__gray-header, .phone-block__white-header {
    font-size: 45px;
  }
}
@media (max-width: 350px) {
  .phone-block__url {
    font-size: 13px;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}
.step__container {
  max-width: 1160px;
}

.sendemails {
  padding-bottom: 100px;
}
.sendemails .imaged-content__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 54%;
          flex: 1 1 54%;
}

.experts {
  margin-bottom: 188px;
}
.experts__container {
  max-width: 1870px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.experts__header {
  margin-bottom: 52px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 75px;
  line-height: 149%;
  color: white;
  text-align: center;
}
.experts__img {
  width: 100%;
}

@media (max-width: 1000px) {
  .experts__header {
    font-size: 53px;
  }
}
@media (max-width: 650px) {
  .experts__header {
    font-size: 43px;
    padding: 0 20px;
  }

  .experts__container {
    padding: 0;
  }
}
@media (max-width: 380px) {
  .experts__header {
    font-size: 33px;
  }
}