@import 'zeros.css';
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700,900&display=swap);
._container {
  margin: 0 auto;
  width: 100%;
  max-width: 1680px;
  padding: 0 20px;
}

body {
  background-color: black;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.blue-button {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: white;
  background-color: #326CF9;
  border: 1px solid #326CF9;
  border-radius: 9px;
  -webkit-transition: 1s color, 1s background-color;
  transition: 1s color, 1s background-color;
  text-align: center;
}
.blue-button:hover {
  background-color: transparent;
  color: #326CF9;
}

.gray-button {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #707070;
  -webkit-transition: 1s color, 1s background-color;
  transition: 1s color, 1s background-color;
  background-color: transparent;
  border-radius: 9px;
  text-align: center;
  border: 1px solid #707070;
}
.gray-button:hover {
  background-color: #707070;
  color: white;
}

.nav-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-block__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.nav-block__logo {
  max-width: 50px;
  max-height: 50px;
}
.nav-block__name {
  color: white;
  font-family: Poppins;
  font-weight: 800;
  font-size: 37px;
  line-height: 151%;
}
.nav-block__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}
.nav-block__nav-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 400px;
}
.nav-block__nav-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.nav-block__nav-item a {
  -webkit-transition: 0.4s color;
  transition: 0.4s color;
  color: #707070;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.nav-block__nav-item a:hover {
  color: #3d5d8f;
  text-decoration: underline;
}
.nav-block__nav-item__active a {
  color: #3C82F4;
}
.nav-block__nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-block .nav-block-nav-items-list {
  color: #707070;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  position: relative;
}
.nav-block .nav-block-nav-items-list:hover {
  color: #3d5d8f;
  text-decoration: underline;
}
.nav-block .nav-block-nav-items-list__header:not(:last-child) {
  margin-right: 17px;
}
.nav-block .nav-block-nav-items-list__header::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 13px;
  height: 13px;
  border-left: 2px solid #707070;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid #707070;
  -webkit-transform: translateY(-30%) rotateZ(-45deg);
          transform: translateY(-30%) rotateZ(-45deg);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}
.nav-block .nav-block-nav-items-list__body {
  left: 0;
  top: 1.5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  opacity: 0;
  -webkit-transition: 0.2s opacity, 0.5s -webkit-transform;
  transition: 0.2s opacity, 0.5s -webkit-transform;
  transition: 0.5s transform, 0.2s opacity;
  transition: 0.5s transform, 0.2s opacity, 0.5s -webkit-transform;
}
.nav-block .nav-block-nav-items-list__body > .nav-block__nav-item {
  pointer-events: none;
}
.nav-block .nav-block-nav-items-list:hover .nav-block-nav-items-list__body {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}
.nav-block .nav-block-nav-items-list:hover .nav-block-nav-items-list__body > .nav-block__nav-item {
  pointer-events: all;
}
.nav-block .nav-block-nav-items-list:hover .nav-block-nav-items-list__header::after {
  -webkit-transform: translateY(40%) rotateZ(-225deg);
          transform: translateY(40%) rotateZ(-225deg);
}
.nav-block__burger {
  display: none;
  width: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.nav-block__burger-line {
  height: 2px;
  background-color: white;
  -webkit-transition: 1s -webkit-transform cubic-bezier(1, -3, 0, 3);
  transition: 1s -webkit-transform cubic-bezier(1, -3, 0, 3);
  transition: 1s transform cubic-bezier(1, -3, 0, 3);
  transition: 1s transform cubic-bezier(1, -3, 0, 3), 1s -webkit-transform cubic-bezier(1, -3, 0, 3);
}
.nav-block__burger-line:not(:last-child) {
  margin-bottom: 10px;
}
.nav-block__burger-open .nav-block__burger-line:nth-child(1) {
  -webkit-transform: translateY(12px) rotateZ(45deg);
          transform: translateY(12px) rotateZ(45deg);
}
.nav-block__burger-open .nav-block__burger-line:nth-child(2) {
  -webkit-transform: rotateZ(-405deg);
          transform: rotateZ(-405deg);
}
.nav-block__burger-open .nav-block__burger-line:nth-child(3) {
  -webkit-transform: translateY(-12px) rotateZ(45deg);
          transform: translateY(-12px) rotateZ(45deg);
}
.nav-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-block__right *:not(:last-child) {
  margin-right: 24px;
}
.nav-block__login {
  border: 0 none transparent;
  padding: 12px 20px;
  white-space: nowrap;
}
.nav-block__signup {
  padding: 12px 20px;
  white-space: nowrap;
}
.nav-block__top {
  padding-top: 46px;
}
.nav-block__bottom {
  padding-bottom: 96px;
}
.nav-block__bottom .nav-block__left-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.nav-block__bottom .nav-block__left-bottom {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 148%;
  color: #707070;
}
.nav-block__bottom .nav-block__left-bottom:hover {
  text-decoration: underline;
}
.nav-block__bottom .nav-block__left {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}
.nav-block__bottom .nav-block__nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1060px) {
  .nav-block__top .nav-block__nav {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .nav-block__top .nav-block__name {
    margin-right: 50px;
  }
}
@media (max-width: 820px) {
  .nav-block__top .nav-block__nav {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    z-index: 10;
    position: relative;
  }
  .nav-block__top .nav-block__nav-body {
    -webkit-transition: 0.3s opacity, 0.5s -webkit-transform;
    transition: 0.3s opacity, 0.5s -webkit-transform;
    transition: 0.3s opacity, 0.5s transform;
    transition: 0.3s opacity, 0.5s transform, 0.5s -webkit-transform;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    background-color: rgba(50, 50, 50, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .nav-block__top .nav-block__nav-item {
    background-color: rgba(0, 0, 0, 0.686);
  }
  .nav-block__top .nav-block__nav-item:not(:last-child) {
    margin-right: 0;
  }
  .nav-block__bottom .nav-block__nav-item:not(:last-child) {
    margin-right: 20px;
  }
  .nav-block .nav-block-nav-items-list:hover .nav-block-nav-items-list__body {
    background-color: rgba(50, 50, 50, 0.8);
  }
  .nav-block__burger {
    display: block;
    position: relative;
    z-index: 11;
  }
  .nav-block__burger-open .nav-block__nav-body {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 600px) {
  .nav-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .nav-block__top .nav-block__name {
    margin-right: 0;
  }
}
.number-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Poppins;
  font-weight: bold;
  font-size: 38px;
  line-height: 150%;
  color: #FFFFFF;
  margin-right: 11px;
}
.number-started__point {
  margin-right: 22px;
  min-width: 1em;
  min-height: 1em;
  background-color: #0FC65C;
  border-radius: 50%;
  border: 7.5px solid #032913;
}
.number-started__normal {
  font-family: Poppins;
  font-weight: normal;
  text-align: center;
  color: #707070;
}

.getstarted {
  padding-bottom: 183px;
}
.getstarted__container {
  max-width: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.getstarted__logo {
  max-width: 180px;
  max-height: 180px;
}
.getstarted__header {
  font-family: Poppins;
  font-weight: bold;
  font-size: 100px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
}
.getstarted__text {
  font-family: Poppins;
  font-weight: normal;
  font-size: 43px;
  line-height: 149%;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-align: center;
}
.getstarted__button {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  padding: 30px 115px;
  margin-bottom: 26px;
}

@media (max-width: 815px) {
  .getstarted__logo {
    max-width: 120px;
    max-height: 120px;
  }
  .getstarted__header {
    font-size: 80px;
  }
  .getstarted__text {
    font-size: 32px;
  }
  .getstarted__button {
    padding: 20px 70px;
  }

  .number-started {
    font-size: 25px;
  }
  .number-started__point {
    border: 5px solid #032913;
    margin-right: 15px;
  }
}
@media (max-width: 530px) {
  .getstarted__logo {
    max-width: 100px;
    max-height: 100px;
  }
  .getstarted__header {
    font-size: 60px;
  }
  .getstarted__text {
    font-size: 23px;
  }
  .getstarted__button {
    padding: 20px 30px;
    font-size: 20px;
  }

  .number-started {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .getstarted__logo {
    max-width: 80px;
    max-height: 80px;
  }
  .getstarted__header {
    font-size: 40px;
  }
  .getstarted__text {
    font-size: 18px;
  }
  .getstarted__button {
    padding: 15px 25px;
    font-size: 15px;
  }

  .number-started {
    font-size: 15px;
  }
  .number-started__point {
    border: 3.5px solid #032913;
    margin-right: 10px;
  }
}
.peoples {
  background: url("../images/peoples/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 188px;
  width: 100%;
}
.peoples__container {
  max-width: 1276px;
  padding: 250px 20px;
}
.peoples__header {
  font-family: Poppins;
  font-weight: 600;
  font-size: 70px;
  line-height: 150%;
  text-align: center;
  color: white;
  text-align: center;
}

@media (max-width: 900px) {
  .peoples {
    background-size: auto 70%;
  }
  .peoples__header {
    font-size: 55px;
  }
}
@media (max-width: 600px) {
  .peoples {
    background-size: auto 70%;
  }
  .peoples__header {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .peoples {
    background-size: auto 60%;
  }
  .peoples__header {
    font-size: 30px;
  }
}