//==import==========================================================================
@import 'zeros.css';

//==fonts==========================================================================
@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700,900);

//==structure======================================================================
._container {
    margin: 0 auto;
    width: 100%;
    max-width: 1680px;
    padding: 0 20px;
}

body {
    background-color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page {
    flex: 1 1 auto;
}

//==buttons========================================================================
.blue-button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: white;
    background-color: #326CF9;
    border: 1px solid #326CF9;
    border-radius: 9px;
    transition: 1s color, 1s background-color;
    text-align: center;
    &:hover {
        background-color: transparent;
        color: #326CF9;
    }
}

.gray-button {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #707070;
    transition: 1s color, 1s background-color;
    background-color: transparent;
    border-radius: 9px;
    text-align: center;
    border: 1px solid #707070;
    &:hover {
        background-color: #707070;
        color: white;
    }
}

//==nav-block==========================================================================
.nav-block {
    &__container {
        display: flex;
        align-items: center;
    }

    //---------------------------------------------------------------------------------
    &__left {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    &__logo {
        max-width: 50px;
        max-height: 50px;
    }
    &__name {
        color: white;
        font-family: Poppins;
        font-weight: 800;
        font-size: 37px;
        line-height: 151%;
    }
    //---------------------------------------------------------------------------------
    &__nav {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        padding: 0 20px;
    }
    &__nav-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 400px;
    }
    &__nav-item {
        user-select: none;
        cursor: pointer;
        white-space: nowrap;
        a {
            color: #707070;
            font-family: Poppins;
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
        }
        a:hover {
            color: #3d5d8f;
            text-decoration: underline;
        }
        &__active a {
            color: #3C82F4;
        }
        &:not(:last-child) {
            margin-right: 40px;
        }
    }
    .nav-block-nav-items-list {
        color: #707070;
        font-family: Poppins;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        position: relative;
        &:hover {
            color: #3d5d8f;
            text-decoration: underline;
        }
        &__header:not(:last-child) {
            margin-right: 17px;
        }
        &__header::after {
            content: '';
            display: inline-block;
            margin-left: 10px;
            width: 13px;
            height: 13px;
            border-left: 2px solid #707070;
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
            border-bottom: 2px solid #707070;
            transform: translateY(-30%) rotateZ(-45deg);
            transition: 0.5s transform;
        }
        &__body {
            left: 0;
            top: 1.5em;
            width: max-content;
            position: absolute;
            pointer-events: none;
            background-color: rgba(0, 0, 0, 0.8);
            transform: translateY(-130%);
            opacity: 0;
            transition: 0.5s transform, 0.2s opacity;
            & > .nav-block__nav-item {
                pointer-events: none;
            }
        }

        &:hover .nav-block-nav-items-list__body {
            transform: none;
            opacity: 1;
            & > .nav-block__nav-item {
                pointer-events: all;
            }
        }
        &:hover .nav-block-nav-items-list__header::after {
            transform: translateY(40%) rotateZ(-225deg);
        }
    }

    &__burger {
        display: none;
        width: 40px;
        user-select: none;
        cursor: pointer;
        height: min-content;
        &-line {
            height: 2px;
            background-color: white;
            transition: 1s transform cubic-bezier(1, -3, 0, 3);
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    &__burger-open {
        .nav-block__burger-line {
            &:nth-child(1) {
                transform: translateY(12px) rotateZ(45deg);
            }
            &:nth-child(2) {
                transform: rotateZ(-405deg);
            }
            &:nth-child(3) {
                transform: translateY(-12px) rotateZ(45deg);
            }
        }
    }

    //---------------------------------------------------------------------------------
    &__right {
        display: flex;
        *:not(:last-child) {
            margin-right: 24px;
        }
    }
    &__login {
        border: 0 none transparent;
        padding: 12px 20px;
        white-space: nowrap;
    }
    &__signup {
        padding: 12px 20px;
        white-space: nowrap;
    }
    //---------------------------------------------------------------------------------
    &__top {
        padding-top: 46px;
    }
    &__bottom {
        padding-bottom: 96px;
        .nav-block__left-top {
            display: flex;
            gap: 25px;
        }
        .nav-block__left-bottom {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 148%;
            color: #707070;
            &:hover {
                text-decoration: underline;
            }
        }
        .nav-block__left {
            flex-direction: column;
            gap: 0;
        }
        .nav-block__nav {
            justify-content: flex-end;
        }
    }
}

@media (max-width: 1060px) {
    .nav-block__top .nav-block__nav {
        order: 5;
    }
    .nav-block__top .nav-block__name {
        margin-right: 50px;
    }
}

@media (max-width: 820px) {
    .nav-block {
        .nav-block__top &__nav {
            justify-content: right;
            z-index: 10;
            position: relative;
        }
        .nav-block__top &__nav-body {
            transition: 0.3s opacity, 0.5s transform;
            transform: translateY(-100%);
            opacity: 0;
            pointer-events: none;
            background-color: rgba(50, 50, 50, 0.7);
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            max-width: none;
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }
        .nav-block__top &__nav-item {
            background-color: rgba(0, 0, 0, 0.686);
            &:not(:last-child) {
                margin-right: 0;
            }
        }
        .nav-block__bottom &__nav-item {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
        .nav-block-nav-items-list {
            &:hover .nav-block-nav-items-list__body {
                background-color: rgba(50, 50, 50, 0.8);
            }
        }

        &__burger {
            display: block;
            position: relative;
            z-index: 11;
        }

        &__burger-open {
            .nav-block__nav-body {
                opacity: 1;
                pointer-events: all;
                transform: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .nav-block__container {
        flex-direction: column;
        gap: 20px;
    }
    .nav-block__top .nav-block__name {
        margin-right: 0;
    }
}

//==getstarted========================================================================
.number-started {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    margin-right: 11px;
    &__point {
        margin-right: 22px;
        min-width: 1em;
        min-height: 1em;
        background-color: #0FC65C;
        border-radius: 50%;
        border: 7.5px solid #032913;
    }
    &__normal {
        font-family: Poppins;
        font-weight: normal;
        text-align: center;
        color: #707070;
    }
}

.getstarted {
    padding-bottom: 183px;
    &__container {
        max-width: 930px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        max-width: 180px;
        max-height: 180px;
    }
    &__header {
        font-family: Poppins;
        font-weight: bold;
        font-size: 100px;
        line-height: 150%;
        color: #FFFFFF;
        text-align: center;
    }
    &__text {
        font-family: Poppins;
        font-weight: normal;
        font-size: 43px;
        line-height: 149%;
        color: #FFFFFF;
        margin-bottom: 15px;
        text-align: center;
    }
    &__button {
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
        padding: 30px 115px;
        margin-bottom: 26px;
    }
}

@media (max-width: 815px) {
    .getstarted {
        &__logo {
            max-width: 120px;
            max-height: 120px;
        }
        &__header {
            font-size: 80px;
        }
        &__text {
            font-size: 32px;
        }
        &__button {
            padding: 20px 70px;
        }
    }
    .number-started {
        font-size: 25px;
        &__point {
            border: 5px solid #032913;
            margin-right: 15px;
        }
    }
}

@media (max-width: 530px) {
    .getstarted {
        &__logo {
            max-width: 100px;
            max-height: 100px;
        }
        &__header {
            font-size: 60px;
        }
        &__text {
            font-size: 23px;
        }
        &__button {
            padding: 20px 30px;
            font-size: 20px;
        }
    }
    .number-started {
        font-size: 20px;
    }
}

@media (max-width: 410px) {
    .getstarted {
        &__logo {
            max-width: 80px;
            max-height: 80px;
        }
        &__header {
            font-size: 40px;
        }
        &__text {
            font-size: 18px;
        }
        &__button {
            padding: 15px 25px;
            font-size: 15px;
        }
    }
    .number-started {
        font-size: 15px;
        &__point {
            border: 3.5px solid #032913;
            margin-right: 10px;
        }
    }
}
//==peoples========================================================================
.peoples {
    background: url('../images/peoples/background.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 188px;
    width: 100%;
    &__container {
        max-width: 1276px;
        padding: 250px 20px;
    }
    &__header {
        font-family: Poppins;
        font-weight: 600;
        font-size: 70px;
        line-height: 150%;
        text-align: center;
        color: white;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .peoples {
        background-size: auto 70%;
        &__header {
            font-size: 55px;
        }
    }
}
@media (max-width: 600px) {
    .peoples {
        background-size: auto 70%;
        &__header {
            font-size: 40px;
        }
    }
}
@media (max-width: 400px) {
    .peoples {
        background-size: auto 60%;
        &__header {
            font-size: 30px;
        }
    }
}
